body {
  background: #202020;
  font-family: tahoma, verdana, sans serif;
  display: flex;
  flex-direction: row;
  color: #fafafa;
}
#container{
  display: flex;
}

canvas {
  margin: auto 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  background: #fafafa;
}

#controls {
  margin: auto 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 1rem;
}

button {
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: #444;
  color: #fafafa;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #666;
}

button[data-playing="yes"]:after {
  content: "Pause";
}

button[data-playing="no"]:after {
  content: "Play";
}

.checkbox_controls {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  grid-column-gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.titles{
  font-size: 25pt;
}

#controls {
  margin: auto 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px; /* Set the font size for all controls */
}

/* Override font size for specific elements if needed */
button,select,input[type="radio"],input[type="checkbox"],label {
  font-size: 20px; /* Inherit font size from parent */
}

/*body {
    background: #202020;
    font-family: tahoma, verdana, sans serif;
    display: flex;
    flex-direction: column;
    color: #fafafa;
  }
  
  canvas {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    background: #fafafa;
  }
  
  #controls{
    margin-left: 1rem;
  }
  
  #volumeLabel{
    margin-left: 1rem;
  }
  
  section{
    margin-bottom: 1rem;
  }
  
  #btn-play{
    font-size: 1.2rem;
    width: 6rem;
  }
  
  button{
    border-radius: 10px;
  }

  button[data-playing="yes"]:after{
    content: "Pause";
  }
  
  button[data-playing="no"]:after{
    content: "Play";
  }
  
  #btn-fs{
    font-size: 1.2rem;
    width: 8rem;
  }

  #container{
    display: flex;
    flex-direction: column;
  }

  #button_controls{
    margin: auto;
  }

  #controls{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .checkbox_controls{
    justify-content:space-evenly;
    display: flex;
    flex-direction: row;
    
  }
*/