body {
    background: #9cb9ba;
    font-family: tahoma, verdana, sans serif;
    display: flex;
    flex-direction: column;
  }
  
  canvas {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    background: #fafafa;
  }
  
  #controls{
    margin-left: 1rem;
  }
  
  #volumeLabel{
    margin-left: 1rem;
  }
  
  section{
    margin-bottom: 1rem;
  }
  
  #btn-play{
    font-size: 1.2rem;
    width: 6rem;
  }
  
  button{
    border-radius: 10px;
  }

  button[data-playing="yes"]:after{
    content: "Pause";
  }
  
  button[data-playing="no"]:after{
    content: "Play";
  }
  
  #btn-fs{
    font-size: 1.2rem;
    width: 8rem;
  }

  #container{
    display: flex;
  }

  #button_controls{
    align-items: baseline;
  }

  #controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5em;

  }

  .checkbox_controls{
    display: flex;
    flex-direction: column;
    
  }
