a:hover{
  color: forestgreen;
}

@media screen and (max-width: 1450px) {
  body {

    display: flex;
    flex-direction: column; 
  }
  #container {
    display: flex;
    flex-direction: column; 
    padding-top: 100px;
  }
  canvas{
    max-width: 800px;
  }
}
