body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(28, 28, 28);
    background-image: linear-gradient(rgb(64, 64, 64), rgb(47, 47, 47), rgb(28, 28, 28));
    color: #FFFFFF;
}
header{
    padding: 20px;
}
h1{
    text-align: center;
    text-shadow: #4daf64 1px 1px 10px;
    font-size: 60pt;
}
.btn-success {
    border: none;
    background-color: #3b7d4a;
}

.btn-success:hover {
    border: none;
    background-color: #4daf64;
}
.container{
    padding-bottom: 200px;
}
img {
    width:600px;
    height:600px;
}

#songDetails{
    width: 640px;
    text-align: center;

    margin-right: 10%;
    margin-bottom: 10%;

    position: fixed;
    top: 20%; /* Adjust the top position as needed */
    right: 0px; /* Adjust the left position as needed */
    padding: 10px;
    
}
#songTitle{   
    font-size: 20pt;
    margin: 0;
}

#songDetails img{
    box-shadow: 0 0 30px #48b862;
}

a{
    width: 550px;
    height: 50px;
    background-color: rgb(56, 56, 56);
    color: white;
    display: inline-block;
    border: 1px solid rgb(104, 104, 104);
    text-align: center;
    padding-top: 25px;
    text-decoration: none;

}
 a:hover{
    background-image: linear-gradient(rgb(64, 64, 64), rgb(47, 47, 47), rgb(28, 28, 28));
    border-color: #4daf64;
    color: #4daf64;
    text-decoration: none;

}
 a:active{
    color: #3b7d4a;
    text-decoration: none;
}
#playlistDropdown{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-bottom: 150px;
}
#songCount{
    margin-left: 10px;
}
form{
    margin-left: 15%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
#countDiv{
    width: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    width: 540px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #3b7d4a;
    border-radius: 7px;
    border: 0;
    color: white;
    font-size: 15pt;

}
input, select{
    font-family: 'Montserrat', sans-serif;
    width:  70%;
    max-width:  80%;
    height: 30px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
    margin: 0;
}
footer a, #refrences{
    width: 200px;
    height: 0;
    background-color: rgb(28, 28, 28);
    text-align: left;
    border: none;
    margin: 0;
    display: inline-flex;
    padding: 0;
}
#refrences{
    width: 400px;
}
footer a:hover{
    background-image: none;
}
@media screen and (max-width: 1580px){
    img {
        width:450px;
        height:450px;
    }
    #songDetails{
        width: 480px;
        text-align: center;
    
        margin-right: 05%;
        margin-bottom: 10%;
    
        position: fixed;
        top: 40%; /* Adjust the top position as needed */
       
        
    }
    a{
        width: 300px;
    }
}

@media screen and (max-width: 1024px){
    h1{
        font-size: 40pt;
    }
    img {
        width:400px;
        height:400px;
    }
    input, select{
        width: 250px;
    }
    #songDetails{
        width: 480px;
        text-align: center;
    
        margin-right: 0px;
        margin-bottom: 10%;
    
        position: fixed;
        top: 40%; /* Adjust the top position as needed */
       
        
    }
    #playlistDropdown{

        margin-left: 50px;
    }
    a{
        width: 270px;
    }
    #songTitle{   
        font-size: 15pt;
        margin: 0;
    }
}
@media screen and (min-height: 1000px){
    footer{
        padding-top: 425px;
    }
}
